@font-face {
  font-family: 'GT-Walsheim-Pro-Regular';
  src: url('../../../assets/fonts/UbuntuMono-Regular.ttf') format('ttf'); /* Super Modern Browsers */
}
@font-face {
  font-family: 'GT-Walsheim-Pro-Medium';
  src: url('../../../assets/fonts/UbuntuMono-Bold.ttf') format('ttf'); /* Super Modern Browsers */
}
